/*Arquivo CSS geral com estilos dos elementos de todas as páginas*/

* {
box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 62.5%; /*equivalente a 10px */
}	

body {
font-family: Arial, Helvetica, sans-serif;
background-color: white;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
	font-size: 2rem; /* equivalente a 20px */
	height: 3rem;
}

a {
	text-decoration: none;
	color: #800080 ;
}

#primeiro-link > a {
	color: #933;
}

ul{
	font-size: 20px;
}

ul li {
	font-size: 0.8em; /* equivalente a 16px */
	font-size: 1.6rem; /* equivalente a 16px */
	width: 80%;
	height: 3rem; /* equivalente a 30px */
}

p {
	font-size: 1.6rem; /* equivalente a 16px */
}

.navegacao li {
	border-bottom: 1px solid #ccc;
	display: block;
	padding: 1rem 1rem 2rem 1rem;
	line-height: 1.2rem;
}

.navegacao a {
	display: block;
	margin-bottom: .5rem;
	width: 100%;
}

form{
	background: #eee;
	padding: 10px;
}


form div {
	background: #fff;
	border: 1px dashed; #999;
	margin: 1rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem;
	font-family: sans-serif;
	font-weight: bold;
	color: #66F;
}

input {
	padding: 1rem;
}

[type="text"],[type="email"], textarea, label {
	width: 100%;
	display: block; /*força a quebra de linha*/
}

[type="checkbox"],[type="radio"], [type="submit"], select{
	cursor:pointer;
	pointer-events: auto;
}


h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #454545;
}

/* Style the header */
header {
background-color: #6495ED;
padding: 1rem;
text-align: center;
font-size: 2rem;
color: aquamarine;
}

/* Create two columns/boxes that floats next to each other */
nav {
float: left;
width: 30%;
height: 100%;
padding: 20px;
background: #ccc;
background-color: rgba(204, 253, 255, 0.75);
}

/* Style the list inside the menu */
nav ul {
list-style-type: none;
padding: 0;
}

article {
float: left;
padding: 20px;
width: 70%;
background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
background: #ccc;
content: "";
display: table;
clear: both;
}

/* Style the footer */
footer {
background-color: #6495ED;
padding: 10px;
text-align: center;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
nav, article {
width: 100%;
height: auto;
	}
}

blockquote, table {
	font-size: 15px;
}

.bt {
border:0.1rem solid #25692A;
border-radius:5rem;
font-family:Arial, Helvetica, sans-serif;
display:inline-block;
cursor:pointer;
font-weight:bold;
border-color:lightcyan;
background:linear-gradient(to top, #ADD8E6 5%, #87CEEB 100%);
box-shadow:inset 0px 1px 0px 0px #19fc8b;
color:#333;
font-size:1.3rem;
padding:0.6rem 1rem;
text-decoration:none;
}

.bt:hover {
	background: lightgreen;
	text-decoration: underline;
}