/* Importando Css de tabelas */
@import url('tabelas.css');



/* 
	Herança

	1. Sobreposição / Sobrescreve
	2. Aplica a último estilo definido
	3. Prioriza estilo específicas (com seletores mais próximos)
	4. Se aplica a todas as propriedades
 */

html {
	color: #333333;
}

/*


p {
	color: #454545 !important;
}


*/

header p{
	color: #fff;
}

/* 
	Combinadores 
	
	(espaço) seletor descendente 
	(>) combinador de seletores filhos
	(+) combinador de elementos irmãos adjacentes / que vem logo na sequencia
	(~) combinador de elementos irmãos geral / após elemento de referência
*/

header h2{
	font-weight: 100;
}

header > h2{
	font-weight: 600;
}

header h2 + p {
	background: #FF0;
	color: #333;
}

h2 ~ h5{
	font-size: 1.2rem;
}

h2 ~ p {
	text-transform: uppercase;
}

/* Pseudo-classes */

a{
	color: #555555;
	text-decoration: none; /*default underline*/
	font-size: 1.5rem;
	display: block;
	width: 100%;
	height: auto;
}

a:hover{
	color: rgba(0, 0, 0, 0.75);
	font-weight: bold;
	background: rgba(173, 255, 47, 0.85) !important;
	width: 65%;
}

a:active {
	color: darkolivegreen;
	text-decoration: underline;
}

h2:hover {
	color: #000;
	text-decoration: underline;
}

/* Tipografia */

html {
	font-family: Helvetica;
}

h1, h2, h3 {
font-weight: bold;
}

p{
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 2rem;
}

ul{
	padding-left: 0.5rem;
	margin-left: 0.5rem;
}

li{
	letter-spacing: 0.01rem;
	font-family: sans-serif;
	line-height: 1.5;
}

h3{
	font-family: 'Macondo', cursive;
	font-size:  1.6rem;
	font-style: italic;
	font-weight: bold ;
	line-height: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

footer p {
	font-family: 'Macondo', cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5rem;
}

/* cores */

body{
	background: url(../images/pattern.png);

/* Exemplo 
	background: url(../images/matrix.png) center top no-repeat #000; 
			Por Default a imagem se repete*/
}

section{
	background: rgba(255, 255, 255, 0.25);
}

p {
	color: #037589;
}

footer,header {
	background-color: #6495ED;
}

footer p {
	color: rgb(75, 0, 130);
}

.navegacao a {
	background: rgba(224, 255, 255, 1); /* RGB + Opacidade (0-1) */
}
